
body {
}

html {
}


li {
}

.cancel-delete:visited {
  color: var(--accent-text);
}

.cancel-delete {
  border: var(--border-width) solid var(--accent);
  background-color: var(--accent);
  color: var(--accent-text);
  padding: 0.5em;
  text-decoration: none;
  line-height: normal;
  display: inline-block;
  max-width: 100%;
  border-radius: var(--standard-border-radius);
  width: 65px;
}

nav {
  padding-top: 30px;
}